*__pycache__
*.data
*.csv
*.DS_Store
/data/a8a/a8a.t
/data/a8a/a8a.txt
/data/australian/australian.dat
/data/australian/australian.doc
/data/crowdsense_c3/crowdsense_c3.pickle
/data/crowdsense_c5/crowdsense_c5.pickle
/data/diabetes_f/diabetes_f.csv
/data/diabetes_us/diabetes_us.csv
/data/diabetes_us/id_mapping.csv
/data/german/german.data-numeric
/data/german/german.doc
/data/higgs/HIGGS_1M.csv.gz
/data/imdb/imdb
/data/ionosphere/ionosphere.data
/data/ionosphere/ionosphere.names
/data/krvskp/Index
/data/krvskp/krvskp.data
/data/krvskp/krvskp.names
/data/magic04/magic04.data
/data/magic04/magic04.names
/data/naticusdroid/data.csv
/data/spamassasin/spamassasin.pickle
/data/spambase/spambase.data
/data/spambase/spambase.DOCUMENTATION
/data/spambase/spambase.names
/data/susy/SUSY_1M.csv.gz
/data/svmguide3/svmguide3.txt
/data/wbc/wbc.data
/data/wbc/wbc.names
/data/wdbc/wdbc.data
/data/wdbc/wdbc.names
/data/wpbc/wpbc.data
/data/wpbc/wpbc.names
/data/spamassasin.zip